//fonts

:root {
  --font-family: "Lexend Deca", sans-serif;
  --second-family: "Arvo", sans-serif;
}

//colors

:root {

  --primary-color: #020617;
  --white:#fff;
  --black: #000;
  --secondary-color: #111827;
  --main-accent-color: #eab308;
  --additional-accent-color: #facc15;
  --title-color: #f3f4f6;
  --desc-color: #6b7280;
  --gray: #9ca3af;
  --secondary-gray: #1f2937;
  --bg-light:  #191d28;

    
}