.contact {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 96rem 165rem;
    align-items: center;

    @include tablet{
      flex-direction: column;
    }
  }
  &__title {
    text-align: center;

    margin-bottom: 24rem;
  }
  &__desc {
   
    max-width: 685rem;
    text-align: center;
  }
  &__info {
    margin-top: 56rem;
    display: flex;
    justify-content: space-between;
    gap: 223rem;
    align-items: center;
    @include tablet{
      flex-direction: column;
      gap:100rem;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }
  &__item {
    font-family: var(--font-family);
    font-size: 16rem;
    font-weight: 400;

    text-align: left;
    color: var(--title-color);
    line-height: 41rem;

    
  }

  &__form__field {
    display: flex;
  }

  &__btn {
    display: inline-block;
    padding: 16rem 20rem;
    max-width: 123rem;

    border-radius: 4rem;
    background: var(--main-accent-color);

    color: var(--black);
    font-family: var(--font-family);
    font-size: 16rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s all ease-in;
  }

  &__btn:hover {
    transform: scale(1.1);
  }
}

.field {
  outline: 0;
  padding: 11rem 18rem 11rem 18rem;
  resize: none;

  font-family: var(--font-family);
  color: var(--title-color);
  background: var(--secondary-gray);

  font-size: 16rem;
  font-weight: 400;
  line-height: 41rem;

  border: 0;
  box-sizing: border-box;
}
.input__name {
  width: 350rem;
  @include mobile{
    width: 200rem;
  }
}
.input__message {
  width: 540rem;
  height: 166rem;
  @include mobile{
    width: 300rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 32rem;
}
