.portfolio {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 96rem 165rem;
    align-items: center;
  }
  &__title {
    text-align: center;
    margin-bottom: 24rem;
  }
  &__desc {
    color: var(--desc-color);
    font-family: var(--font-family);
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    text-align: center;
    margin-bottom: 80rem;
    width: 461rem;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30rem;
    grid-row-gap: 30rem;
    width: 1110rem;
  }

  &__block-1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  &__block-2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  &__block-3 {
    grid-area: 1 / 4 / 2 / 5;
  }
  &__block-4 {
    grid-area: 2 / 3 / 3 / 4;
  }
  &__block-5 {
    grid-area: 2 / 4 / 3 / 5;
  }
}
